<%- model_class = Product -%>
<div class="page-header">
  <h1>
    <% if @products.size > 0 %>
      <%= "Encontrado".pluralize(@products.size) %> <%= @products.size %> <%=t '.title', 
      :default => "Producto".pluralize(@products.size).titleize %>
    <% else %>
      No se encontraron productos
    <% end %>
  </h1>
</div>

<%= form_tag("/products", method: "get", class:"navbar-form navbar-left") do %>
  <div class="form-group">
    <%= search_field_tag(:name, nil, {class:"form-control", placeholder:"nombre del producto"}) %>
    <%= search_field_tag(:price, nil, {class:"form-control", placeholder:"precio maximo"}) %>
    <%= select_tag(:category, options_from_collection_for_select(@categories, "id", "name"), include_blank: true, class:"form-control", placeholder:"selecciona categoria") %>
    <div class="checkbox"><%= check_box_tag(:available) %> s&oacute;lo disponibles</div>
  </div>
  <%= submit_tag("Buscar", class:"btn btn-default", id:"search") %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:stock) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product_thumbnail(product), product_path(product) %></td>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price, precision: 0) %></td>
        <td><%= product.stock %></td>
        <td>
          <% unless product.category.nil? %>
            <%= link_to product.category.name, category_products_path(product.category) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>  